{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "title": "AutomationManagement",
        "version": "2015-10-31",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/hybridRunbookWorkerGroup.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "automation-hybridRunbookWorkerGroup",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/hybridRunbookWorkerGroups": {
            "get": {
                "description": "Retrieve a list of hybrid runbook worker groups.",
                "externalDocs": {
                    "url": "http://aka.ms/azureautomationsdk/hybridrunbookworkergroupoperations"
                },
                "operationId": "HybridRunbookWorkerGroup_ListByAutomationAccount",
                "parameters": [
                    {
                        "description": "Name of an Azure Resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 90,
                            "pattern": "^[-\\w\\._]+$"
                        }
                    },
                    {
                        "description": "The name of the automation account.",
                        "in": "path",
                        "name": "automationAccountName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The filter to apply on the operation.",
                        "in": "query",
                        "name": "$filter",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The response model for the list hybrid runbook worker groups.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "Gets or sets the next link.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "Gets or sets a list of hybrid runbook worker groups.",
                                            "items": {
                                                "description": "Definition of hybrid runbook worker group.",
                                                "properties": {
                                                    "credential": {
                                                        "description": "Sets the credential of a worker group.",
                                                        "properties": {
                                                            "name": {
                                                                "description": "Gets or sets the name of the credential.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "groupType": {
                                                        "description": "Type of the HybridWorkerGroup.",
                                                        "enum": [
                                                            "User",
                                                            "System"
                                                        ],
                                                        "type": "string",
                                                        "x-ms-enum": {
                                                            "modelAsString": true,
                                                            "name": "GroupTypeEnum"
                                                        }
                                                    },
                                                    "hybridRunbookWorkers": {
                                                        "description": "Gets or sets the list of hybrid runbook workers.",
                                                        "items": {
                                                            "description": "Definition of hybrid runbook worker.",
                                                            "properties": {
                                                                "ip": {
                                                                    "description": "Gets or sets the assigned machine IP address.",
                                                                    "type": "string"
                                                                },
                                                                "lastSeenDateTime": {
                                                                    "description": "Last Heartbeat from the Worker",
                                                                    "format": "date-time",
                                                                    "type": "string",
                                                                    "nullable": false
                                                                },
                                                                "name": {
                                                                    "description": "Gets or sets the worker machine name.",
                                                                    "type": "string"
                                                                },
                                                                "registrationTime": {
                                                                    "description": "Gets or sets the registration time of the worker machine.",
                                                                    "format": "date-time",
                                                                    "type": "string",
                                                                    "nullable": false
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "id": {
                                                        "description": "Gets or sets the id of the resource.",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "Gets or sets the name of the group.",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Automation error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error response of an operation failure",
                                    "properties": {
                                        "code": {
                                            "description": "Error code",
                                            "type": "string"
                                        },
                                        "message": {
                                            "description": "Error message indicating why the operation failed.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "HybridRunbookWorkerGroup"
                ],
                "x-ms-examples": {
                    "List hybrid worker groups by Automation Account": {
                        "parameters": {
                            "api-version": "2015-10-31",
                            "automationAccountName": "testaccount",
                            "hybridRunbookWorkerGroupName": "TestWorkerGroup",
                            "resourceGroupName": "udtest",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "credential": {
                                                "name": "myRunAsCredentialName"
                                            },
                                            "hybridRunbookWorkers": [
                                                {
                                                    "ip": "134.1.1.1",
                                                    "name": "TestMachine",
                                                    "registrationTime": "2017-03-24T12:43:43.053855-07:00"
                                                }
                                            ],
                                            "id": "/subscriptions/subid/resourceGroups/udtest/providers/Microsoft.Automation/automationAccounts/testaccount/hybridRunbookWorkerGroups/TestWorkerGroup",
                                            "name": "TestWorkerGroup"
                                        }
                                    ]
                                },
                                "headers": {}
                            }
                        }
                    }
                },
                "x-ms-odata": "#/components/schemas/HybridRunbookWorkerGroup",
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/hybridRunbookWorkerGroups/{hybridRunbookWorkerGroupName}": {
            "delete": {
                "description": "Delete a hybrid runbook worker group.",
                "externalDocs": {
                    "url": "http://aka.ms/azureautomationsdk/hybridrunbookworkergroupoperations"
                },
                "operationId": "HybridRunbookWorkerGroup_Delete",
                "parameters": [
                    {
                        "description": "Name of an Azure Resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 90,
                            "pattern": "^[-\\w\\._]+$"
                        }
                    },
                    {
                        "description": "The name of the automation account.",
                        "in": "path",
                        "name": "automationAccountName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The hybrid runbook worker group name",
                        "in": "path",
                        "name": "hybridRunbookWorkerGroupName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "default": {
                        "description": "Automation error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error response of an operation failure",
                                    "properties": {
                                        "code": {
                                            "description": "Error code",
                                            "type": "string"
                                        },
                                        "message": {
                                            "description": "Error message indicating why the operation failed.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "HybridRunbookWorkerGroup"
                ],
                "x-ms-examples": {
                    "Delete a hybrid worker group": {
                        "parameters": {
                            "api-version": "2015-10-31",
                            "automationAccountName": "myAutomationAccount20",
                            "hybridRunbookWorkerGroupName": "myGroup",
                            "resourceGroupName": "rg",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                }
            },
            "get": {
                "description": "Retrieve a hybrid runbook worker group.",
                "externalDocs": {
                    "url": "http://aka.ms/azureautomationsdk/hybridrunbookworkergroupoperations"
                },
                "operationId": "HybridRunbookWorkerGroup_Get",
                "parameters": [
                    {
                        "description": "Name of an Azure Resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 90,
                            "pattern": "^[-\\w\\._]+$"
                        }
                    },
                    {
                        "description": "The name of the automation account.",
                        "in": "path",
                        "name": "automationAccountName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The hybrid runbook worker group name",
                        "in": "path",
                        "name": "hybridRunbookWorkerGroupName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Definition of hybrid runbook worker group.",
                                    "properties": {
                                        "credential": {
                                            "description": "Sets the credential of a worker group.",
                                            "properties": {
                                                "name": {
                                                    "description": "Gets or sets the name of the credential.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "groupType": {
                                            "description": "Type of the HybridWorkerGroup.",
                                            "enum": [
                                                "User",
                                                "System"
                                            ],
                                            "type": "string",
                                            "x-ms-enum": {
                                                "modelAsString": true,
                                                "name": "GroupTypeEnum"
                                            }
                                        },
                                        "hybridRunbookWorkers": {
                                            "description": "Gets or sets the list of hybrid runbook workers.",
                                            "items": {
                                                "description": "Definition of hybrid runbook worker.",
                                                "properties": {
                                                    "ip": {
                                                        "description": "Gets or sets the assigned machine IP address.",
                                                        "type": "string"
                                                    },
                                                    "lastSeenDateTime": {
                                                        "description": "Last Heartbeat from the Worker",
                                                        "format": "date-time",
                                                        "type": "string",
                                                        "nullable": false
                                                    },
                                                    "name": {
                                                        "description": "Gets or sets the worker machine name.",
                                                        "type": "string"
                                                    },
                                                    "registrationTime": {
                                                        "description": "Gets or sets the registration time of the worker machine.",
                                                        "format": "date-time",
                                                        "type": "string",
                                                        "nullable": false
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "id": {
                                            "description": "Gets or sets the id of the resource.",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Gets or sets the name of the group.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Automation error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error response of an operation failure",
                                    "properties": {
                                        "code": {
                                            "description": "Error code",
                                            "type": "string"
                                        },
                                        "message": {
                                            "description": "Error message indicating why the operation failed.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "HybridRunbookWorkerGroup"
                ],
                "x-ms-examples": {
                    "Get a hybrid worker group": {
                        "parameters": {
                            "api-version": "2015-10-31",
                            "automationAccountName": "testaccount",
                            "hybridRunbookWorkerGroupName": "TestHybridGroup",
                            "resourceGroupName": "rg",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "credential": {
                                        "name": "myRunAsCredentialName"
                                    },
                                    "hybridRunbookWorkers": [
                                        {
                                            "ip": "100.1.1.1",
                                            "name": "TestHybridWorker",
                                            "registrationTime": "2017-03-24T12:43:45.0146578-07:00"
                                        }
                                    ],
                                    "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/testaccount/hybridRunbookWorkerGroups/TestHybridGroup",
                                    "name": "TestHybridGroup"
                                },
                                "headers": {}
                            }
                        }
                    }
                }
            },
            "patch": {
                "description": "Update a hybrid runbook worker group.",
                "externalDocs": {
                    "url": "http://aka.ms/azureautomationsdk/hybridrunbookworkergroupoperations"
                },
                "operationId": "HybridRunbookWorkerGroup_Update",
                "parameters": [
                    {
                        "description": "Name of an Azure Resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 90,
                            "pattern": "^[-\\w\\._]+$"
                        }
                    },
                    {
                        "description": "The name of the automation account.",
                        "in": "path",
                        "name": "automationAccountName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The hybrid runbook worker group name",
                        "in": "path",
                        "name": "hybridRunbookWorkerGroupName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Definition of hybrid runbook worker group.",
                                    "properties": {
                                        "credential": {
                                            "description": "Sets the credential of a worker group.",
                                            "properties": {
                                                "name": {
                                                    "description": "Gets or sets the name of the credential.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "groupType": {
                                            "description": "Type of the HybridWorkerGroup.",
                                            "enum": [
                                                "User",
                                                "System"
                                            ],
                                            "type": "string",
                                            "x-ms-enum": {
                                                "modelAsString": true,
                                                "name": "GroupTypeEnum"
                                            }
                                        },
                                        "hybridRunbookWorkers": {
                                            "description": "Gets or sets the list of hybrid runbook workers.",
                                            "items": {
                                                "description": "Definition of hybrid runbook worker.",
                                                "properties": {
                                                    "ip": {
                                                        "description": "Gets or sets the assigned machine IP address.",
                                                        "type": "string"
                                                    },
                                                    "lastSeenDateTime": {
                                                        "description": "Last Heartbeat from the Worker",
                                                        "format": "date-time",
                                                        "type": "string",
                                                        "nullable": false
                                                    },
                                                    "name": {
                                                        "description": "Gets or sets the worker machine name.",
                                                        "type": "string"
                                                    },
                                                    "registrationTime": {
                                                        "description": "Gets or sets the registration time of the worker machine.",
                                                        "format": "date-time",
                                                        "type": "string",
                                                        "nullable": false
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "id": {
                                            "description": "Gets or sets the id of the resource.",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Gets or sets the name of the group.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Automation error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error response of an operation failure",
                                    "properties": {
                                        "code": {
                                            "description": "Error code",
                                            "type": "string"
                                        },
                                        "message": {
                                            "description": "Error message indicating why the operation failed.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "HybridRunbookWorkerGroup"
                ],
                "x-ms-examples": {
                    "Update hybrid worker group": {
                        "parameters": {
                            "api-version": "2015-10-31",
                            "automationAccountName": "testaccount",
                            "hybridRunbookWorkerGroupName": "TestHybridGroup",
                            "parameters": {
                                "credential": {
                                    "name": "myRunAsCredentialName"
                                }
                            },
                            "resourceGroupName": "rg",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "credential": {
                                        "name": "myRunAsCredentialName"
                                    },
                                    "hybridRunbookWorkers": [
                                        {
                                            "ip": "100.1.1.1",
                                            "name": "TestHybridWorker",
                                            "registrationTime": "2017-03-24T12:43:45.0146578-07:00"
                                        }
                                    ],
                                    "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/testaccount/hybridRunbookWorkerGroups/TestHybridGroup",
                                    "name": "TestHybridGroup"
                                },
                                "headers": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Parameters supplied to the update operation.",
                                "properties": {
                                    "credential": {
                                        "description": "Sets the credential of a worker group.",
                                        "properties": {
                                            "name": {
                                                "description": "Gets or sets the name of the credential.",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "description": "The hybrid runbook worker group",
                    "required": true
                }
            }
        }
    },
    "components": {
        "schemas": {
            "HybridRunbookWorker": {
                "description": "Definition of hybrid runbook worker.",
                "properties": {
                    "ip": {
                        "description": "Gets or sets the assigned machine IP address.",
                        "type": "string"
                    },
                    "lastSeenDateTime": {
                        "description": "Last Heartbeat from the Worker",
                        "format": "date-time",
                        "type": "string",
                        "nullable": false
                    },
                    "name": {
                        "description": "Gets or sets the worker machine name.",
                        "type": "string"
                    },
                    "registrationTime": {
                        "description": "Gets or sets the registration time of the worker machine.",
                        "format": "date-time",
                        "type": "string",
                        "nullable": false
                    }
                },
                "type": "object"
            },
            "HybridRunbookWorkerGroup": {
                "description": "Definition of hybrid runbook worker group.",
                "properties": {
                    "credential": {
                        "description": "Sets the credential of a worker group.",
                        "properties": {
                            "name": {
                                "description": "Gets or sets the name of the credential.",
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "groupType": {
                        "description": "Type of the HybridWorkerGroup.",
                        "enum": [
                            "User",
                            "System"
                        ],
                        "type": "string",
                        "x-ms-enum": {
                            "modelAsString": true,
                            "name": "GroupTypeEnum"
                        }
                    },
                    "hybridRunbookWorkers": {
                        "description": "Gets or sets the list of hybrid runbook workers.",
                        "items": {
                            "description": "Definition of hybrid runbook worker.",
                            "properties": {
                                "ip": {
                                    "description": "Gets or sets the assigned machine IP address.",
                                    "type": "string"
                                },
                                "lastSeenDateTime": {
                                    "description": "Last Heartbeat from the Worker",
                                    "format": "date-time",
                                    "type": "string",
                                    "nullable": false
                                },
                                "name": {
                                    "description": "Gets or sets the worker machine name.",
                                    "type": "string"
                                },
                                "registrationTime": {
                                    "description": "Gets or sets the registration time of the worker machine.",
                                    "format": "date-time",
                                    "type": "string",
                                    "nullable": false
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    },
                    "id": {
                        "description": "Gets or sets the id of the resource.",
                        "type": "string"
                    },
                    "name": {
                        "description": "Gets or sets the name of the group.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "HybridRunbookWorkerGroupUpdateParameters": {
                "description": "Parameters supplied to the update operation.",
                "properties": {
                    "credential": {
                        "description": "Sets the credential of a worker group.",
                        "properties": {
                            "name": {
                                "description": "Gets or sets the name of the credential.",
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "HybridRunbookWorkerGroupsListResult": {
                "description": "The response model for the list hybrid runbook worker groups.",
                "properties": {
                    "nextLink": {
                        "description": "Gets or sets the next link.",
                        "type": "string"
                    },
                    "value": {
                        "description": "Gets or sets a list of hybrid runbook worker groups.",
                        "items": {
                            "description": "Definition of hybrid runbook worker group.",
                            "properties": {
                                "credential": {
                                    "description": "Sets the credential of a worker group.",
                                    "properties": {
                                        "name": {
                                            "description": "Gets or sets the name of the credential.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "groupType": {
                                    "description": "Type of the HybridWorkerGroup.",
                                    "enum": [
                                        "User",
                                        "System"
                                    ],
                                    "type": "string",
                                    "x-ms-enum": {
                                        "modelAsString": true,
                                        "name": "GroupTypeEnum"
                                    }
                                },
                                "hybridRunbookWorkers": {
                                    "description": "Gets or sets the list of hybrid runbook workers.",
                                    "items": {
                                        "description": "Definition of hybrid runbook worker.",
                                        "properties": {
                                            "ip": {
                                                "description": "Gets or sets the assigned machine IP address.",
                                                "type": "string"
                                            },
                                            "lastSeenDateTime": {
                                                "description": "Last Heartbeat from the Worker",
                                                "format": "date-time",
                                                "type": "string",
                                                "nullable": false
                                            },
                                            "name": {
                                                "description": "Gets or sets the worker machine name.",
                                                "type": "string"
                                            },
                                            "registrationTime": {
                                                "description": "Gets or sets the registration time of the worker machine.",
                                                "format": "date-time",
                                                "type": "string",
                                                "nullable": false
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                },
                                "id": {
                                    "description": "Gets or sets the id of the resource.",
                                    "type": "string"
                                },
                                "name": {
                                    "description": "Gets or sets the name of the group.",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "type": "object"
            },
            "RunAsCredentialAssociationProperty": {
                "description": "Definition of RunAs credential to use for hybrid worker.",
                "properties": {
                    "name": {
                        "description": "Gets or sets the name of the credential.",
                        "type": "string"
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "azure_auth": {
                "description": "Azure Active Directory OAuth2 Flow",
                "type": "oauth2",
                "flows": {
                    "implicit": {
                        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
                        "scopes": {
                            "user_impersonation": "impersonate your user account"
                        }
                    }
                }
            }
        }
    }
}